@font-face {
  font-family: Alibaba-PuHuiTi-Bold;
  src: url('../assets/fonts/Alibaba-PuHuiTi-Regular.ttf');
}

@font-face {
  font-family: GBK;
  src: url('../assets/fonts/方正小标宋_GBK.TTF');
}

@font-face {
  font-family: DENG;
  src: url('../assets/fonts/DENG.TTF');
}